<!-- views/partials/body.ejs -->

<h1>Schema Builder</h1>

<form method="POST" action="/">
  <label>Schema Name:</label>
  <input type="text" name="schemaName" placeholder="Schema Name" />
  <button type="submit">Submit</button>
</form>
